// bower:scss
// endbower

$black: #000000;
$yellowish: #ffff00;
$white: #ffffff;
$dark-cool-blue: #3d464d;
$greyish: #979797;
$warning-red: #fd5632;
$light-yellow: #fffc7d;
$blueish: #1B7BFC;

$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$times-roman: 'Times', sans-serif;

* {
	margin: 0;
	padding: 0;
}

.dark-cool-blue {
	color: $dark-cool-blue;
}

body {
	background: #ffffff;
	min-width: 360px;
}

.roboto {
	font-family: $roboto;
}

.lato {
	font-family: $lato;
}

.times {
	font-family: $times-roman;
}

.weight-100 {
	font-weight: 100;
}

.weight-200 {
	font-weight: 200;
}

.weight-300 {
	font-weight: 300;
}

.weight-400 {
	font-weight: 400;
}

.weight-500 {
	font-weight: 500;
}

.weight-600 {
	font-weight: 600;
}

.weight-700 {
	font-weight: 700;
}

.weight-800 {
	font-weight: 800;
}

.weight-900 {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.padding-10 {
	padding: 10px;
}

.margin-10 {
	margin: 10px;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.margin-top-10 {
	margin-top: 10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.margin-top-50 {
	margin-top: 50px;
}

.times-regular-20 {
	font-family: $times-roman;
	font-weight: 400;
	font-size: 20px;
}

.times-regular-18 {
	font-family: $times-roman;
	font-weight: 400;
	font-size: 18px;
}

.times-regular-50 {
	font-family: $times-roman;
	font-weight: 400;
	font-size: 50px;
}

.header-inner {
}

.primary-text-shadow {
	text-shadow: 12px 15px 20px rgba(46, 61, 73, 0.50);
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-right {
	justify-content: flex-end;
}

.align-right {
	align-items: flex-end;
}

.my-name-underline {
	width: 510px;
	height: 23px;
	background: $light-yellow;
	margin-top: -25px;
}

.z-index-0 {
	z-index: -10;
}

@media all and (max-width: 600px) {
	.times-regular-50 {
		font-size: 35px;
	}

	.my-name-underline {
		width: 360px;
	}

	.times-regular-20 {
		font-size: 16px;
	}

	.times-regular-18 {
		font-size: 13px;
	}
}

.z-index-2 {
	z-index: 2;
}

@media all and (max-width: 400px) {
	.margin-top-50 {
		margin-top: 0;
	}
	.header {
		padding: 20px;
	}
	.times-regular-50 {
		font-size: 27px;
	}

	.my-name-underline {
		width: 325px;
		height: 15px;
		margin-top: -15px;
	}

	.times-regular-20 {
		font-size: 16px;
	}

	.times-regular-18 {
		font-size: 13px;
	}

	.subheading {
		margin-top: 20px;
		text-align: center;
	}
}

.box-660 {
	width: 660px;
	height: 660px;
	margin: 20px;
	background: #005A9B;
	border-radius: 6px;
}

.box-380 {
	width: 380px;
	height: 380px;
	margin: 20px;
	background: #868A82;
	border-radius: 6px;
}

.box-240 {
	width: 240px;
	height: 240px;
	margin: 20px;
	background: #FD5632;
	border-radius: 6px;
}

.box-100 {
	width: 100px;
	height: 100px;
	margin: 20px;
	background: #FFFF3E;
	border-radius: 6px;
}

.margin-top-40 {
	margin-top: 40px;
}

.primary-shadow {
	box-shadow: 12px 15px 20px rgba(46, 61, 73, 0.25);
}

.golden-outer {
	display: flex;
	flex-direction: row;
}

.golden-forth {
	display: flex;
	flex-direction: row;
}

.golden-seventh {
	margin-top: 40px;
}

@media all and (max-width: 1200px) {
	.golden-outer {
		flex-direction: column;
	}
	.golden-second {
		display: flex;
		flex-direction: row;
	}

	.golden-third {
		order: 3;
	}

	.golden-forth {
		flex-direction: column;
		order: 2;
	}

	.golden-fifth {
		display: flex;
		flex-direction: row;
	}

	.golden-seventh {
		margin-top: 20px;
	}
}

@media all and (max-width: 860px) {
	.box-660 {
		height: 380px;
		width: 380px;
	}
	.golden-second {
		flex-direction: column;
	}
	.golden-third {
		order: 1;
	}
	.golden-forth {
		flex-direction: row;
	}
	.golden-fifth {
		flex-direction: column;
	}
}

@media all and (max-width: 440px) {
	.box-660 {
		width: 240px;
		height: 240px;
	}
	.box-380 {
		width: 240px;
		height: 240px;
	}
	.golden-forth {
		flex-direction: column;
	}
	.golden-fifth {
		flex-direction: row;
	}
}
